<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update doctor</h4>

        <form class="form-horizontal p-t-20">
          <!-- Field Avatar -->
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">
              Avatar
            </label>
            <div class="col-sm-9">
              <div class="input-group">
                <img class="w200" src="" alt="avatarPhoto" />
              </div>
            </div>
          </div>
          <!-- End Field Avatar -->

          <!-- Field Name -->
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">
              Doctor
            </label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  class="form-control"
                  id="exampleInputuname3"
                  placeholder="Doctorname"
                  type="text"
                />
              </div>
            </div>
          </div>
          <!-- End Field Name -->

          <!-- Field Hospital -->
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label">
              Hospital
            </label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control">
                  <option>Medico 1</option>
                  <option>Medico 2</option>
                  <option>Medico 3</option>
                </select>
              </div>
            </div>
          </div>
          <!-- End Field Hospital -->

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light"
              >
                <i class="fa fa-save"></i>
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Assigned hospital</h4>

        <img class="w200" src="" alt="avatarPhoto" />
      </div>
    </div>
  </div>
</div>
