<!-- Search -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          (keyup)="searchMedico(txtTermino.value)"
          #txtTermino
          class="form-control"
          placeholder="Doctor search"
          type="text"
        />
      </div>
    </div>
  </div>
</div>
<!-- End Search -->

<!-- Loading -->
<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>
<!-- End Loading -->

<!-- TABLE OF DOCTORS -->
<div *ngIf="!loading" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- TITLE AND NEW DOCTOR -->
        <div class="row">
          <div class="col-8">
            <h4 class="card-title p-t-10">
              Lista de médicos ({{ medicos.length ?? 0 }})
            </h4>
          </div>

          <div class="col">
            <div class="text-right">
              <a
                [routerLink]="'/dashboard/medico/nuevo'"
                class="btn btn-primary m-b-20"
              >
                <i class="fa fa-hospital-o"></i>
                New doctor
              </a>
            </div>
          </div>
        </div>
        <!-- END TITLE AND NEW DOCTOR -->

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Name</th>
                <th class="w100 text-nowrap text-center">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let medico of medicos">
                <td class="text-center">
                  <img
                    (click)="openModal(medico)"
                    [alt]="medico.nombre"
                    [src]="medico.img | imagen: 'medicos'"
                    class="w100 cursor avatar"
                  />
                </td>
                <td>{{ medico.nombre }}</td>

                <td class="text-nowrap text-center">
                  <a
                    [routerLink]="['/dashboard/medico', medico._id]"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>

                  <a
                    (click)="deleteMedico(medico)"
                    class="cursor"
                    data-original-title="Delete"
                    data-toggle="tooltip"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TABLE OF DOCTORS -->
