<div
  [class.hide-modal]="isShowModal"
  class="fondo-modal-imagen animated fadeIn fast"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block; padding-right: 15px"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
          <button
            (click)="closeModal()"
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <h3>Seleccione una imagen</h3>
        </div>

        <div class="modal-footer">
          <button
            (click)="closeModal()"
            class="btn btn-default"
            data-dismiss="modal"
            type="button"
          >
            Cancelar
          </button>

          <button type="button" class="btn btn-primary">Actualizar foto</button>
        </div>
      </div>
    </div>
  </div>
</div>
