<div class="input-group">
  <span class="input-group-btn">
    <button (click)="cambiarValor(-5)" [ngClass]="btnClass" type="button">
      <i class="fa fa-minus"></i>
    </button>
  </span>

  <!-- [(ngModel)] emite y recibe valores -->
  <input
    (ngModelChange)="onChanges($event)"
    [(ngModel)]="progreso"
    [ngClass]="{ 'is-invalid': progreso > 100 || progreso < 0 }"
    class="form-control"
    max="100"
    min="0"
    placeholder="Progreso"
    type="number"
  />

  <span class="input-group-btn">
    <button (click)="cambiarValor(5)" [ngClass]="btnClass" type="button">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
