<!-- Search -->
<!-- <div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input class="form-control" type="text" placeholder="Buscar hospital" />
      </div>
    </div>
  </div>
</div> -->
<!-- End Search -->

<!-- Loading -->
<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<!-- End Loading -->

<!-- TABLE OF HOSPITALES -->
<div *ngIf="!loading" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title p-t-10">
              Lista de hospitales ({{ hospitales.length ?? 0 }})
            </h4>
          </div>

          <!-- Btn New Hospital -->
          <div class="col">
            <div class="text-right">
              <button
                (click)="openSweetAlertForm()"
                class="btn btn-primary m-b-20"
              >
                <i class="fa fa-hospital-o"></i>
                Crear hospital
              </button>
            </div>
          </div>
          <!-- End Btn New Hospital -->
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center w100">Foto</th>
                <th>Nombre</th>
                <th class="w100 text-nowrap text-center">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td class="text-center w100">
                  <img
                    [src]="hospital.img | imagen: 'hospitales'"
                    [alt]="hospital.nombre"
                    class="avatar cursor"
                    (click)="openModal(hospital)"
                  />
                </td>

                <td>
                  <input
                    [(ngModel)]="hospital.nombre"
                    class="form-control"
                    placeholder="Nombre del hospital"
                    type="text"
                  />
                </td>

                <td class="text-nowrap text-center">
                  <a
                    (click)="editarHospital(hospital)"
                    class="cursor"
                    data-original-title="Guardar cambios"
                    data-toggle="tooltip"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>

                  <a
                    (click)="deleteHospital(hospital)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Eliminar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TABLE OF HOSPITALES -->
