<!-- Search -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          (keyup)="buscar(txtTermino.value)"
          #txtTermino
          class="form-control"
          placeholder="Buscar usuario"
          type="text"
        />
      </div>
    </div>
  </div>
</div>
<!-- End Search -->

<!-- Loading -->
<div *ngIf="isLoading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<!-- End Loading -->

<!-- TABLE OF USER -->
<div *ngIf="!isLoading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios ({{ totalUsers }})</h4>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100 text-center">Eliminar</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users">
                <!-- avatar -->
                <td class="text-center">
                  <img
                    (click)="openModal(user)"
                    [alt]="user.nombre"
                    [src]="user.imagenUrl"
                    class="avatar cursor"
                  />
                </td>

                <!-- email -->
                <td>{{ user.email }}</td>

                <!-- nombre -->
                <td>{{ user.nombre }}</td>

                <!-- role -->
                <td>
                  <select
                    [(ngModel)]="user.role"
                    (change)="changeRoleOf(user)"
                    class="form-control"
                  >
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>

                <!-- auth -->
                <td>
                  <span *ngIf="user.google" class="label label-danger">
                    Google
                  </span>
                  <span *ngIf="!user.google" class="label label-info">
                    Email
                  </span>
                </td>

                <!-- action -->
                <td class="text-nowrap text-center">
                  <a
                    (click)="deleteUser(user)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Elimiar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          *ngIf="txtTermino.value.length === 0"
          class="d-flex justify-content-center"
        >
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary m-r-10">
            Anterior
          </button>
          <button (click)="cambiarPagina(5)" class="btn btn-secondary m-l-10">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TABLE OF USER -->
