<!-- Search -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input class="form-control" type="text" placeholder="Buscar usuario" />
      </div>
    </div>
  </div>
</div>
<!-- End Search -->

<!-- Loading -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<!-- End Loading -->

<!-- TABLE OF USER -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios ({{ totalUsers }})</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w100">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">
                  <img
                    [src]="user.imagenUrl"
                    [alt]="user.nombre"
                    class="avatar"
                  />
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.role }}</td>
                <td>
                  <span *ngIf="user.google" class="label label-danger">
                    Google
                  </span>
                  <span *ngIf="!user.google" class="label label-info">
                    Email
                  </span>
                </td>

                <td class="text-nowrap">
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>

                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-original-title="Elimiar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-center">
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary m-r-10">
            Anterior
          </button>
          <button (click)="cambiarPagina(5)" class="btn btn-secondary m-l-10">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TABLE OF USER -->
